@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

header {
    text-align: center;
    background-color: #a9ecc7;
    margin-bottom: 20px;
    padding: 10px;
}
.product-card {
    margin-bottom: 20px;
  }
  
  .product-image {
    height: 200px;
    object-fit: cover;
  }
  
  .product-card .card-body {
    background-color: #f8f9fa;
  }
  
  .product-card .card-footer {
    background-color: #e9ecef;
  }
  