<header>
  <h1>SenFruits</h1>
</header>
<div class="container mt-5">
  <div *ngIf="!selectedProduct">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of produits">
        <div class="card product-card">
          <img
            [src]="product.image"
            class="card-img-top product-image"
            [alt]="product.libelle"
          />
          <div class="card-body">
            <h5 class="card-title">
              <a href="#" (click)="selectProduct(product)">{{
                product.libelle
              }}</a>
            </h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">
              <strong>Prix:</strong>
              {{ product.prix | currency : "EUR" : "code" }}
            </p>
            <p class="card-text">
              <strong>Quantité:</strong> {{ product.quantite }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedProduct">
    <app-detail-produit
      [product]="selectedProduct"
      (deselect)="deselectProduct()"
    ></app-detail-produit>
  </div>
</div>
