<header>
  <h1>SenFruits</h1>
</header>
<div class="container mt-5">
    <div *ngIf="!selectedProduct">
      <div class="row">
        <div class="col-md-4" *ngFor="let produit of produits">
          <div class="card product-card">
            <img [src]="produit.image" class="card-img-top product-image" [alt]="produit.libelle">
            <div class="card-body">
              <h5 class="card-title">
                <a href="#" (click)="selectProduct(produit)">{{ produit.libelle | uppercase }}</a>
              </h5>
              <p class="card-text">{{ produit.description }}</p>
              <p class="card-text"><strong>Prix:</strong> {{ produit.prix | currency:'EUR':'code':'1.2-2' }}</p>
              <p class="card-text"><strong>Quantité:</strong> {{ produit.quantite }}</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="selectedProduct">
      <div class="container mt-5">
        <button class="btn btn-outline-secondary mb-3" (click)="deselectProduct()">Retour à la liste</button>
        <div class="card">
          <img [src]="selectedProduct.image" class="card-img-top product-image" [alt]="selectedProduct.libelle">
          <div class="card-body">
            <h5 class="card-title">{{ selectedProduct.libelle }}</h5>
            <p class="card-text">{{ selectedProduct.description }}</p>
            <p class="card-text"><strong>Prix:</strong> {{ selectedProduct.prix | currency:'EUR':'code':'1.2-2' }}</p>
            <p class="card-text"><strong>Quantité:</strong> {{ selectedProduct.quantite }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
